@import '../../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';
@import "./core/base.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400');

body {
    color: #909090;
    background: #FAFAFA;
}

.logo {
    max-width: 26rem;
    margin: 4rem auto 6rem auto;
    display: block;
}

h2 {
    font-size: 2.8rem;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 200;
    margin-bottom: 2rem;
    @include breakpoint(xs) {
        font-size: 2rem;
    }
}

.clients {
    max-width: 114rem;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    > div {
        display: flex;
        height: 12rem;
        padding: 1.2rem 2rem;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        justify-content: center;
        align-items: center;
        &.active {
            opacity: 1;
        }
        img {
            @include breakpoint(xs) {
                max-width: 8rem;
            }
        }
    }
}